.board {
  border-collapse: collapse;
}

.board td{
  border: 1px solid black;
  width: 1.4rem;
  height: 1.4rem;
}

.grid-column{
  display: inline-block;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  top: 35%;
  left: 35%;
  border: 2px groove black;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
  padding: 2rem;
}

.primary-modal{
  z-index: 2;
  background-color: white;
  width: 250px;
  height: 150px;
}