.board {
  border-collapse: collapse;
}

.board td{
  border: 1px solid black;
  width: 1.5rem;
  height: 1.5rem;
}

.grid-column{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.menu{
 height: 35rem;
 padding: 2rem;
 background-color: blueviolet;
 width: 20%;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  top: 35%;
  left: 35%;
  border: 2px groove black;
  border-radius: 5px;
  box-shadow: 5px 10px 8px #888888;
  padding: 2rem;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}

.primary-modal{
  z-index: 2;
  background-color: white;
  width: 250px;
  height: 150px;
}